In [13]:
import pandas as pds
import numpy as np
import os
from IPython.display import display

In [14]:
# Read and join tables

leaderboards = pds.read_csv(os.path.join(os.getcwd(),"data\\v1\\leaderboards-data.csv"), parse_dates=['date', 'verifiedDate'])
games = pds.read_csv(os.path.join(os.getcwd(),"data\\v1\\games-data.csv"), parse_dates=['releaseDate', 'createdDate'])
users = pds.read_csv(os.path.join(os.getcwd(),"data\\v1\\users-data.csv"), parse_dates=['signupDate'])

data_frame = leaderboards.merge(games, left_on="gameID", right_on="ID", how="left")
data_frame = data_frame.merge(users, left_on="players", right_on="ID", how="left")

target = data_frame['emulated']
data_frame = data_frame.drop(columns=['runID', 'ID_x'])

In [15]:
# Print Table

pds.set_option('display.max_columns', None)
data_frame = data_frame.rename(columns={'name_x': 'gameName', 'URL': 'gameURL', 'ID_y': 'userID', 'name_y': 'username'})
display(data_frame)

,gameID,categoryID,levelID,date,primaryTime,place,platform,emulated,players,examiner,verifiedDate,variablesAndValues,gameName,gameURL,releaseDate,createdDate,numCategories,numLevels,userID,username,signupDate,location,numRuns
0,j1n8nj91,8249gled,NaN,2022-12-20,108.000,1,vm9vn63k,True,8d4kdg58,0jm4ppnj,2022-12-21 09:32:39+00:00,e8mqpdxn=4qy6xmdl,Computer Space,computer_space,1971-11-01,2022-10-11 15:53:28+00:00,3,0,8d4kdg58,Jakaryy,2021-11-08 20:34:20+00:00,us,36.0
1,j1n8nj91,8249gled,NaN,2022-10-08,114.067,2,vm9vn63k,True,0jm4ppnj,0jm4ppnj,2022-10-11 19:00:28+00:00,e8mqpdxn=4qy6xmdl,Computer Space,computer_space,1971-11-01,2022-10-11 15:53:28+00:00,3,0,0jm4ppnj,potaterhands,2018-06-05 14:39:39+00:00,NaN,204.0
2,ldejl7j1,w20m70zk,NaN,2023-06-18,434.000,1,NaN,True,xk1lp76j,j204y17x,2023-07-08 15:55:58+00:00,NaN,The Dungeon,the_dungeon,1975-01-01,2023-05-24 18:46:03+00:00,1,0,xk1lp76j,RestiveOrphan,2023-05-20 22:30:30+00:00,us,22.0
3,ldejl7j1,w20m70zk,NaN,2023-05-24,610.000,2,NaN,True,j204y17x,j204y17x,2023-05-24 19:22:27+00:00,NaN,The Dungeon,the_dungeon,1975-01-01,2023-05-24 18:46:03+00:00,1,0,j204y17x,PlayingHistory,2023-05-17 04:56:49+00:00,us,1.0
4,9d389y91,vdopjgy2,NaN,2022-08-19,25.000,1,v06ddw64,False,8vk4w7vj,8vk4w7vj,2022-08-23 07:09:21+00:00,gnx2jvx8=jqzjdy8l,Mattel Auto Race,mattel_auto_race,1976-01-01,2022-08-23 03:09:59+00:00,1,0,8vk4w7vj,ND606,2021-04-27 03:29:39+00:00,jp,109.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1847575,268wwry6,wkpgwqvk,NaN,2023-01-22,1661.626,21,8gej2n93,False,"866ol9p8,0jm94yn8",8wknpmq8,2023-02-01 14:33:55+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=810d3e5l,ql6rg77l=j...",Roboquest,roboquest,2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaN,NaT,NaN,NaN
1847576,268wwry6,wkpgwqvk,NaN,2021-10-21,1793.943,22,8gej2n93,False,"j0vmykwx,j421715x",8wknpmq8,2022-02-09 15:52:17+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=81wx44ml,ql6rg77l=j...",Roboquest,roboquest,2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaN,NaT,NaN,NaN
1847577,268wwry6,wkpgwqvk,NaN,2021-06-24,1913.647,23,8gej2n93,False,"8gezg1rj,j2wod3nj",8wknpmq8,2022-02-10 12:41:33+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=81wx44ml,ql6rg77l=2...",Roboquest,roboquest,2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaN,NaT,NaN,NaN
1847578,268wwry6,wkpgwqvk,NaN,2023-01-21,2126.666,24,8gej2n93,False,"j5qkwg6j,",8wknpmq8,2023-02-01 14:36:53+00:00,"ylp7zmrl=z19krz8q,kn0v3wol=810d3e5l,ql6rg77l=2...",Roboquest,roboquest,2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaN,NaT,NaN,NaN
1847579,268wwry6,wkpgwqvk,NaN,2022-10-11,2669.045,25,8gej2n93,False,"8ge4y2yj,",8wknpmq8,2022-10-18 21:21:18+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=013yvmdl,ql6rg77l=2...",Roboquest,roboquest,2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaN,NaT,NaN,NaN

In [16]:
# Preprocessing

uniqueLocations = data_frame['location'].unique()
locationMappings = dict(zip(uniqueLocations, range(len(uniqueLocations))))
data_frame = data_frame.replace({'location': locationMappings})

def convertToUNIXTimestamp(date):
    return date.astype('int64') // (10**9)

#TODO: Replace NAs before converting to unix timestamp
data_frame[['date', 
            'verifiedDate', 
            'releaseDate', 
            'createdDate', 
            'signupDate']] = data_frame[['date', 
                                         'verifiedDate', 
                                         'releaseDate', 
                                         'createdDate', 
                                         'signupDate']].apply(convertToUNIXTimestamp)

display(data_frame)

,gameID,categoryID,levelID,date,primaryTime,place,platform,emulated,players,examiner,verifiedDate,variablesAndValues,gameName,gameURL,releaseDate,createdDate,numCategories,numLevels,userID,username,signupDate,location,numRuns
0,j1n8nj91,8249gled,NaN,1671494400,108.000,1,vm9vn63k,True,8d4kdg58,0jm4ppnj,1671615159,e8mqpdxn=4qy6xmdl,Computer Space,computer_space,57801600,1665503608,3,0,8d4kdg58,Jakaryy,1636403660,0,36.0
1,j1n8nj91,8249gled,NaN,1665187200,114.067,2,vm9vn63k,True,0jm4ppnj,0jm4ppnj,1665514828,e8mqpdxn=4qy6xmdl,Computer Space,computer_space,57801600,1665503608,3,0,0jm4ppnj,potaterhands,1528209579,1,204.0
2,ldejl7j1,w20m70zk,NaN,1687046400,434.000,1,NaN,True,xk1lp76j,j204y17x,1688831758,NaN,The Dungeon,the_dungeon,157766400,1684953963,1,0,xk1lp76j,RestiveOrphan,1684621830,0,22.0
3,ldejl7j1,w20m70zk,NaN,1684886400,610.000,2,NaN,True,j204y17x,j204y17x,1684956147,NaN,The Dungeon,the_dungeon,157766400,1684953963,1,0,j204y17x,PlayingHistory,1684299409,0,1.0
4,9d389y91,vdopjgy2,NaN,1660867200,25.000,1,v06ddw64,False,8vk4w7vj,8vk4w7vj,1661238561,gnx2jvx8=jqzjdy8l,Mattel Auto Race,mattel_auto_race,189302400,1661224199,1,0,8vk4w7vj,ND606,1619494179,2,109.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1847575,268wwry6,wkpgwqvk,NaN,1674345600,1661.626,21,8gej2n93,False,"866ol9p8,0jm94yn8",8wknpmq8,1675262035,"ylp7zmrl=p12pz24q,kn0v3wol=810d3e5l,ql6rg77l=j...",Roboquest,roboquest,1699315200,1624739723,2,0,NaN,NaN,-9223372037,1,NaN
1847576,268wwry6,wkpgwqvk,NaN,1634774400,1793.943,22,8gej2n93,False,"j0vmykwx,j421715x",8wknpmq8,1644421937,"ylp7zmrl=p12pz24q,kn0v3wol=81wx44ml,ql6rg77l=j...",Roboquest,roboquest,1699315200,1624739723,2,0,NaN,NaN,-9223372037,1,NaN
1847577,268wwry6,wkpgwqvk,NaN,1624492800,1913.647,23,8gej2n93,False,"8gezg1rj,j2wod3nj",8wknpmq8,1644496893,"ylp7zmrl=p12pz24q,kn0v3wol=81wx44ml,ql6rg77l=2...",Roboquest,roboquest,1699315200,1624739723,2,0,NaN,NaN,-9223372037,1,NaN
1847578,268wwry6,wkpgwqvk,NaN,1674259200,2126.666,24,8gej2n93,False,"j5qkwg6j,",8wknpmq8,1675262213,"ylp7zmrl=z19krz8q,kn0v3wol=810d3e5l,ql6rg77l=2...",Roboquest,roboquest,1699315200,1624739723,2,0,NaN,NaN,-9223372037,1,NaN
1847579,268wwry6,wkpgwqvk,NaN,1665446400,2669.045,25,8gej2n93,False,"8ge4y2yj,",8wknpmq8,1666128078,"ylp7zmrl=p12pz24q,kn0v3wol=013yvmdl,ql6rg77l=2...",Roboquest,roboquest,1699315200,1624739723,2,0,NaN,NaN,-9223372037,1,NaN