In [87]:
import pandas as pds
import numpy as np
import os
from IPython.display import display

In [88]:
# Read and join tables
dir = os.getcwd()

leaderboards = pds.read_csv(os.path.join(dir,"data\\v1\\leaderboards-data.csv"), parse_dates=['date', 'verifiedDate'])
games = pds.read_csv(os.path.join(dir,"data\\v1\\games-data.csv"), parse_dates=['releaseDate', 'createdDate'])
users = pds.read_csv(os.path.join(dir,"data\\v1\\users-data.csv"), parse_dates=['signupDate'])

data_frame = leaderboards.merge(games, left_on="gameID", right_on="ID", how="left")
data_frame = data_frame.merge(users, left_on="players", right_on="ID", how="left")

for col in data_frame.columns[data_frame.dtypes == 'object']:
    data_frame[col] = data_frame[col].astype('category')

target = data_frame['emulated']
data_frame = data_frame.drop(columns=['runID', 'ID_x'])
data_frame = data_frame.rename(columns={'name_x': 'gameName', 'URL': 'gameURL', 'ID_y': 'userID', 'name_y': 'username'})

In [89]:
# Print Table

pds.set_option('display.max_columns', None)
display(data_frame)
print(data_frame.dtypes)

,gameID,categoryID,levelID,date,primaryTime,place,platform,emulated,players,examiner,verifiedDate,variablesAndValues,gameName,gameURL,releaseDate,createdDate,numCategories,numLevels,userID,username,signupDate,location,numRuns
0,j1n8nj91,8249gled,NaN,2022-12-20,108.000,1,vm9vn63k,True,8d4kdg58,0jm4ppnj,2022-12-21 09:32:39+00:00,e8mqpdxn=4qy6xmdl,Computer Space,computer_space,1971-11-01,2022-10-11 15:53:28+00:00,3,0,8d4kdg58,Jakaryy,2021-11-08 20:34:20+00:00,us,36.0
1,j1n8nj91,8249gled,NaN,2022-10-08,114.067,2,vm9vn63k,True,0jm4ppnj,0jm4ppnj,2022-10-11 19:00:28+00:00,e8mqpdxn=4qy6xmdl,Computer Space,computer_space,1971-11-01,2022-10-11 15:53:28+00:00,3,0,0jm4ppnj,potaterhands,2018-06-05 14:39:39+00:00,NaN,204.0
2,ldejl7j1,w20m70zk,NaN,2023-06-18,434.000,1,NaN,True,xk1lp76j,j204y17x,2023-07-08 15:55:58+00:00,NaN,The Dungeon,the_dungeon,1975-01-01,2023-05-24 18:46:03+00:00,1,0,xk1lp76j,RestiveOrphan,2023-05-20 22:30:30+00:00,us,22.0
3,ldejl7j1,w20m70zk,NaN,2023-05-24,610.000,2,NaN,True,j204y17x,j204y17x,2023-05-24 19:22:27+00:00,NaN,The Dungeon,the_dungeon,1975-01-01,2023-05-24 18:46:03+00:00,1,0,j204y17x,PlayingHistory,2023-05-17 04:56:49+00:00,us,1.0
4,9d389y91,vdopjgy2,NaN,2022-08-19,25.000,1,v06ddw64,False,8vk4w7vj,8vk4w7vj,2022-08-23 07:09:21+00:00,gnx2jvx8=jqzjdy8l,Mattel Auto Race,mattel_auto_race,1976-01-01,2022-08-23 03:09:59+00:00,1,0,8vk4w7vj,ND606,2021-04-27 03:29:39+00:00,jp,109.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1847575,268wwry6,wkpgwqvk,NaN,2023-01-22,1661.626,21,8gej2n93,False,"866ol9p8,0jm94yn8",8wknpmq8,2023-02-01 14:33:55+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=810d3e5l,ql6rg77l=j...",Roboquest,roboquest,2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaN,NaT,NaN,NaN
1847576,268wwry6,wkpgwqvk,NaN,2021-10-21,1793.943,22,8gej2n93,False,"j0vmykwx,j421715x",8wknpmq8,2022-02-09 15:52:17+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=81wx44ml,ql6rg77l=j...",Roboquest,roboquest,2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaN,NaT,NaN,NaN
1847577,268wwry6,wkpgwqvk,NaN,2021-06-24,1913.647,23,8gej2n93,False,"8gezg1rj,j2wod3nj",8wknpmq8,2022-02-10 12:41:33+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=81wx44ml,ql6rg77l=2...",Roboquest,roboquest,2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaN,NaT,NaN,NaN
1847578,268wwry6,wkpgwqvk,NaN,2023-01-21,2126.666,24,8gej2n93,False,"j5qkwg6j,",8wknpmq8,2023-02-01 14:36:53+00:00,"ylp7zmrl=z19krz8q,kn0v3wol=810d3e5l,ql6rg77l=2...",Roboquest,roboquest,2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaN,NaT,NaN,NaN
1847579,268wwry6,wkpgwqvk,NaN,2022-10-11,2669.045,25,8gej2n93,False,"8ge4y2yj,",8wknpmq8,2022-10-18 21:21:18+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=013yvmdl,ql6rg77l=2...",Roboquest,roboquest,2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaN,NaT,NaN,NaN

gameID                           category
categoryID                       category
levelID                          category
date                       datetime64[ns]
primaryTime                       float64
place                               int64
platform                         category
emulated                             bool
players                          category
examiner                         category
verifiedDate          datetime64[ns, UTC]
variablesAndValues               category
gameName                         category
gameURL                          category
releaseDate                datetime64[ns]
createdDate           datetime64[ns, UTC]
numCategories                       int64
numLevels                           int64
userID                           category
username                         category
signupDate            datetime64[ns, UTC]
location                         category
numRuns                           float64
dtype: object

In [90]:
# Preprocessing

def replaceNaNsWithMostFrequent(value):
    return value.fillna(value.mode()[0])

def replaceNaNsWithMean(value):
    return value.fillna(value.mean())

def mapValuesToIntegers(value):
    return value.cat.codes

def convertToUNIXTimestamp(date):
    return (date.fillna("1970-01-01").astype('int64') // (10**9)).replace(0, np.NaN)

data_frame[['date', 
            'verifiedDate', 
            'releaseDate', 
            'createdDate', 
            'signupDate']] = data_frame[['date', 
                                         'verifiedDate', 
                                         'releaseDate', 
                                         'createdDate', 
                                         'signupDate']].apply(convertToUNIXTimestamp)
data_frame[['date', 
            'verifiedDate', 
            'releaseDate', 
            'createdDate', 
            'signupDate']] = data_frame[['date', 
                                         'verifiedDate', 
                                         'releaseDate', 
                                         'createdDate', 
                                         'signupDate']].apply(replaceNaNsWithMean)

for col in data_frame.columns[data_frame.dtypes == 'category']:
    data_frame[[col]] = data_frame[[col]].apply(replaceNaNsWithMostFrequent)
    data_frame[[col]] = data_frame[[col]].apply(mapValuesToIntegers)

display(data_frame)
print(data_frame.dtypes)

,gameID,categoryID,levelID,date,primaryTime,place,platform,emulated,players,examiner,verifiedDate,variablesAndValues,gameName,gameURL,releaseDate,createdDate,numCategories,numLevels,userID,username,signupDate,location,numRuns
0,14029,19044,39981,1.671494e+09,108.000,1,161,True,63043,115,1.671615e+09,60152,5699,6990,57801600,1.665504e+09,3,0,55022,104349,1.636404e+09,239,36.0
1,14029,19044,39981,1.665187e+09,114.067,2,161,True,627,115,1.665515e+09,60152,5699,6990,57801600,1.665504e+09,3,0,531,323263,1.528210e+09,239,204.0
2,19634,70739,39981,1.687046e+09,434.000,1,44,True,355549,15230,1.688832e+09,109764,30860,31582,157766400,1.684954e+09,1,0,310120,185559,1.684622e+09,239,22.0
3,19634,70739,39981,1.684886e+09,610.000,2,44,True,188070,15230,1.684956e+09,109764,30860,31582,157766400,1.684954e+09,1,0,163986,173590,1.684299e+09,239,1.0
4,9396,67128,39981,1.660867e+09,25.000,1,151,False,145331,11481,1.661239e+09,64045,17550,18545,189302400,1.661224e+09,1,0,126954,152863,1.619494e+09,122,109.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1847575,1646,83966,39981,1.674346e+09,1661.626,21,44,False,50011,12022,1.675262e+09,131200,24647,25619,1699315200,1.624740e+09,2,0,318759,8409,1.569096e+09,239,NaN
1847576,1646,83966,39981,1.634774e+09,1793.943,22,44,False,186021,12022,1.644422e+09,131211,24647,25619,1699315200,1.624740e+09,2,0,318759,8409,1.569096e+09,239,NaN
1847577,1646,83966,39981,1.624493e+09,1913.647,23,44,False,91960,12022,1.644497e+09,131210,24647,25619,1699315200,1.624740e+09,2,0,318759,8409,1.569096e+09,239,NaN
1847578,1646,83966,39981,1.674259e+09,2126.666,24,44,False,218549,12022,1.675262e+09,131218,24647,25619,1699315200,1.624740e+09,2,0,318759,8409,1.569096e+09,239,NaN
1847579,1646,83966,39981,1.665446e+09,2669.045,25,44,False,89109,12022,1.666128e+09,131180,24647,25619,1699315200,1.624740e+09,2,0,318759,8409,1.569096e+09,239,NaN

gameID                  int32
categoryID              int32
levelID                 int32
date                  float64
primaryTime           float64
place                   int64
platform                int16
emulated                 bool
players                 int32
examiner                int32
verifiedDate          float64
variablesAndValues      int32
gameName                int32
gameURL                 int32
releaseDate             int64
createdDate           float64
numCategories           int64
numLevels               int64
userID                  int32
username                int32
signupDate            float64
location                int16
numRuns               float64
dtype: object
[161  44 151 131  49  23  67  60 130 115  51   6 175 180  52   4  73  81
 107  27 139  32 110  87   8 125 123 152 113  96  55 160 118  22  91  79
  35 142  59  74 138  36 181  88 112  17 156 172  62 117  11  63 121 174
  64  48  41 169  95  53  37  43  57  14  19  21  16  20 129 149 116 104
  85 106  54  28  40   0  80  50 103  47 154  26  98 145  78 127 101 122
 159 148 165  68 105 147  84  15   5 177  72 158 128 134   7   3 100  76
  58  46 168  30 176 150  25 182 144 102  99  82  70  18  31  10  24 157
  39 162  56   1 155 120 146  90  38 109 141 143  92   9 132  34 179   2
 126 178  93  33 119  45  89 171 108 163  65  86  66 124 167 135  29  83
  97  13  61  77 153  71 170 166 111 114 137 133 173  42 136  94  69  12
  75 164 140]
[239 122  84 204  83  37   9 118 222  19  72  11  67  12 199  56  80  98
 165 246  30 175 130  57  38 224 187  63  75  82 192  85  86  70 174 108
 185 197 106  69  46 236 109 113   8 231 111 234 139 198  59  74  55 179
 135 209  48 248 115 110  49  71  16  21 182 190  54 205 233 211 244 117
 133  43  13 214 116 145 141 241 207 229  61 100 166 201 240 119 242 114
 152 143  96 253  35 210 247 103 217 255  50 129 183   6 172 161 186   5
 101  62 237 155 156  92  31 142 221 105  93 194  76 181   1  28 164  64
 112  78 128 228 173 148  79 158 125  73  88 257  34 218 147 170  65  20
 124  15  14 203 162  68 191   2 171 137  23  40  58 193 176 136 216 177
 120 131 256 202  17  99  22 195  53  36 238 146  51   7 144 208 196  90
 121 167 138 151 243   3 126  26 245  27  91 127 249   0  18 189  66  97
 180  87 213 232 215 223 252  95 250  10 219 123  44 212  77 102  33 251
 178  32 160 235  45 107 184  42 154 220 168  41  60 206 169  89  39 200
  81 230 226 159 153 163 227 225  47 132 157 254 134  24  52 188  25   4
 104  29 150 149  94 140]