In [23]:
import pandas as pds
import numpy as np
import os
from IPython.display import display

In [26]:
# Read and join tables

leaderboards = pds.read_csv(os.path.join(os.getcwd(),"data\\v1\\leaderboards-data.csv"), parse_dates=['date', 'verifiedDate'])
games = pds.read_csv(os.path.join(os.getcwd(),"data\\v1\\games-data.csv"), parse_dates=['releaseDate', 'createdDate'])
users = pds.read_csv(os.path.join(os.getcwd(),"data\\v1\\users-data.csv"), parse_dates=['signupDate'])
categories = pds.read_csv(os.path.join(os.getcwd(),"data\\v1\\categories-data.csv"))

data_frame = leaderboards.merge(games, left_on="gameID", right_on="ID", how="left", suffixes=('_df1', '_gme'))
data_frame = data_frame.merge(users, left_on="players", right_on="ID", how="left", suffixes=('_df2', '_usr'))
data_frame = data_frame.merge(categories, left_on="categoryID", right_on="ID", how="left", suffixes=('_df3', '_cat'))
target = data_frame['emulated']
data_frame = data_frame.drop(columns=['runID', 'ID_df2', 'name_df2', 'URL', 'name_usr', 'parentGameID', 'ID', 'name', 'rules'])
 
# Split players rows where there are multiple players into multiple rows 
cols = list(data_frame.columns.drop('players' ))
data_frame = (data_frame
   .set_index(cols)
   .stack()
   .str.split(',', expand=True)
   .stack()
   .unstack(-2)
   .reset_index(-1, drop=True)
   .reset_index()
)

In [27]:
# Print Table

pds.set_option('display.max_columns', None)
#data_frame = data_frame.rename(columns={})
display(data_frame)

,gameID,categoryID,levelID,date,primaryTime,place,platform,emulated,examiner,verifiedDate,variablesAndValues,releaseDate,createdDate,numCategories,numLevels,ID_usr,signupDate,location,numRuns,type,numPlayers,players
0,j1n8nj91,8249gled,NaN,2022-10-08,114.067,2,vm9vn63k,True,0jm4ppnj,2022-10-11 19:00:28+00:00,e8mqpdxn=4qy6xmdl,1971-11-01,2022-10-11 15:53:28+00:00,3,0,0jm4ppnj,2018-06-05 14:39:39+00:00,NaN,204.0,per-game,1,0jm4ppnj
1,j1n8nj91,8249gled,NaN,2022-12-20,108.000,1,vm9vn63k,True,0jm4ppnj,2022-12-21 09:32:39+00:00,e8mqpdxn=4qy6xmdl,1971-11-01,2022-10-11 15:53:28+00:00,3,0,8d4kdg58,2021-11-08 20:34:20+00:00,us,36.0,per-game,1,8d4kdg58
2,ldejl7j1,w20m70zk,NaN,2023-06-18,434.000,1,NaN,True,j204y17x,2023-07-08 15:55:58+00:00,NaN,1975-01-01,2023-05-24 18:46:03+00:00,1,0,xk1lp76j,2023-05-20 22:30:30+00:00,us,22.0,per-game,1,xk1lp76j
3,ldejl7j1,w20m70zk,NaN,2023-05-24,610.000,2,NaN,True,j204y17x,2023-05-24 19:22:27+00:00,NaN,1975-01-01,2023-05-24 18:46:03+00:00,1,0,j204y17x,2023-05-17 04:56:49+00:00,us,1.0,per-game,1,j204y17x
4,9d389y91,vdopjgy2,NaN,2022-08-19,25.000,1,v06ddw64,False,8vk4w7vj,2022-08-23 07:09:21+00:00,gnx2jvx8=jqzjdy8l,1976-01-01,2022-08-23 03:09:59+00:00,1,0,8vk4w7vj,2021-04-27 03:29:39+00:00,jp,109.0,per-game,1,8vk4w7vj
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1909098,268wwry6,wkpgwqvk,NaN,2023-05-27,521.852,1,8gej2n93,False,8wknpmq8,2023-06-06 19:14:13+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=810d3e5l,ql6rg77l=j...",2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaT,NaN,NaN,per-game,2,pj0o619j
1909099,268wwry6,wkpgwqvk,NaN,2023-01-06,1630.129,20,8gej2n93,False,8wknpmq8,2023-01-08 21:37:36+00:00,"ylp7zmrl=z19krz8q,kn0v3wol=013yvmdl,ql6rg77l=2...",2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaT,NaN,NaN,per-game,2,xzlv7de8
1909100,268wwry6,wkpgwqvk,NaN,2023-01-06,1630.129,20,8gej2n93,False,8wknpmq8,2023-01-08 21:37:36+00:00,"ylp7zmrl=z19krz8q,kn0v3wol=013yvmdl,ql6rg77l=2...",2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaT,NaN,NaN,per-game,2,8lp7wo2j
1909101,268wwry6,wkpgwqvk,NaN,2022-02-16,940.356,0,8gej2n93,False,8wknpmq8,2022-02-16 15:01:28+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=5le722m1,ql6rg77l=j...",2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaT,NaN,NaN,per-game,2,xkm6oe7j
1909102,268wwry6,wkpgwqvk,NaN,2022-02-16,940.356,0,8gej2n93,False,8wknpmq8,2022-02-16 15:01:28+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=5le722m1,ql6rg77l=j...",2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaT,NaN,NaN,per-game,2,pj0o619j

In [ ]:
# Preprocessing

uniqueLocations = data_frame['location'].unique()
locationMappings = dict(zip(uniqueLocations, range(len(uniqueLocations))))
data_frame = data_frame.replace({'location': locationMappings})

#TODO: Replace NAs before converting to unix timestamp
data_frame['date'] = data_frame['date'].astype('int64') // (10**9)
data_frame['verifiedDate'] = data_frame['verifiedDate'].astype('int64') // (10**9)
data_frame['releaseDate'] = data_frame['releaseDate'].astype('int64') // (10**9)
data_frame['createdDate'] = data_frame['createdDate'].astype('int64') // (10**9)
data_frame['signupDate'] = data_frame['signupDate'].astype('int64') // (10**9)
display(data_frame)