In [27]:
import pandas as pds
import numpy as np
import os
from IPython.display import display

In [28]:
# Read and join tables
dir = os.getcwd()

leaderboards = pds.read_csv(os.path.join(dir,"data\\v1\\leaderboards-data.csv"), parse_dates=['date', 'verifiedDate'])
games = pds.read_csv(os.path.join(dir,"data\\v1\\games-data.csv"), parse_dates=['releaseDate', 'createdDate'])
users = pds.read_csv(os.path.join(dir,"data\\v1\\users-data.csv"), parse_dates=['signupDate'])

data_frame = leaderboards.merge(games, left_on="gameID", right_on="ID", how="left")
data_frame = data_frame.merge(users, left_on="players", right_on="ID", how="left")

for col in data_frame.columns[data_frame.dtypes == 'object']:
    data_frame[col] = data_frame[col].astype('category')

target = data_frame['emulated']
data_frame = data_frame.drop(columns=['runID', 'ID_x', 'name_x', 'URL', 'name_y', 'levelID', 'emulated', 'variablesAndValues'])
data_frame = data_frame.rename(columns={'ID_y': 'userID'})

In [ ]:
# Print Table

pds.set_option('display.max_columns', None)
display(data_frame)
print(data_frame.dtypes)

,gameID,categoryID,levelID,date,primaryTime,place,platform,emulated,players,examiner,verifiedDate,variablesAndValues,releaseDate,createdDate,numCategories,numLevels,userID,signupDate,location,numRuns
0,j1n8nj91,8249gled,NaN,2022-12-20,108.000,1,vm9vn63k,True,8d4kdg58,0jm4ppnj,2022-12-21 09:32:39+00:00,e8mqpdxn=4qy6xmdl,1971-11-01,2022-10-11 15:53:28+00:00,3,0,8d4kdg58,2021-11-08 20:34:20+00:00,us,36.0
1,j1n8nj91,8249gled,NaN,2022-10-08,114.067,2,vm9vn63k,True,0jm4ppnj,0jm4ppnj,2022-10-11 19:00:28+00:00,e8mqpdxn=4qy6xmdl,1971-11-01,2022-10-11 15:53:28+00:00,3,0,0jm4ppnj,2018-06-05 14:39:39+00:00,NaN,204.0
2,ldejl7j1,w20m70zk,NaN,2023-06-18,434.000,1,NaN,True,xk1lp76j,j204y17x,2023-07-08 15:55:58+00:00,NaN,1975-01-01,2023-05-24 18:46:03+00:00,1,0,xk1lp76j,2023-05-20 22:30:30+00:00,us,22.0
3,ldejl7j1,w20m70zk,NaN,2023-05-24,610.000,2,NaN,True,j204y17x,j204y17x,2023-05-24 19:22:27+00:00,NaN,1975-01-01,2023-05-24 18:46:03+00:00,1,0,j204y17x,2023-05-17 04:56:49+00:00,us,1.0
4,9d389y91,vdopjgy2,NaN,2022-08-19,25.000,1,v06ddw64,False,8vk4w7vj,8vk4w7vj,2022-08-23 07:09:21+00:00,gnx2jvx8=jqzjdy8l,1976-01-01,2022-08-23 03:09:59+00:00,1,0,8vk4w7vj,2021-04-27 03:29:39+00:00,jp,109.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1847575,268wwry6,wkpgwqvk,NaN,2023-01-22,1661.626,21,8gej2n93,False,"866ol9p8,0jm94yn8",8wknpmq8,2023-02-01 14:33:55+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=810d3e5l,ql6rg77l=j...",2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaT,NaN,NaN
1847576,268wwry6,wkpgwqvk,NaN,2021-10-21,1793.943,22,8gej2n93,False,"j0vmykwx,j421715x",8wknpmq8,2022-02-09 15:52:17+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=81wx44ml,ql6rg77l=j...",2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaT,NaN,NaN
1847577,268wwry6,wkpgwqvk,NaN,2021-06-24,1913.647,23,8gej2n93,False,"8gezg1rj,j2wod3nj",8wknpmq8,2022-02-10 12:41:33+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=81wx44ml,ql6rg77l=2...",2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaT,NaN,NaN
1847578,268wwry6,wkpgwqvk,NaN,2023-01-21,2126.666,24,8gej2n93,False,"j5qkwg6j,",8wknpmq8,2023-02-01 14:36:53+00:00,"ylp7zmrl=z19krz8q,kn0v3wol=810d3e5l,ql6rg77l=2...",2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaT,NaN,NaN
1847579,268wwry6,wkpgwqvk,NaN,2022-10-11,2669.045,25,8gej2n93,False,"8ge4y2yj,",8wknpmq8,2022-10-18 21:21:18+00:00,"ylp7zmrl=p12pz24q,kn0v3wol=013yvmdl,ql6rg77l=2...",2023-11-07,2021-06-26 20:35:23+00:00,2,0,NaN,NaT,NaN,NaN

gameID                           category
categoryID                       category
levelID                          category
date                       datetime64[ns]
primaryTime                       float64
place                               int64
platform                         category
emulated                             bool
players                          category
examiner                         category
verifiedDate          datetime64[ns, UTC]
variablesAndValues               category
releaseDate                datetime64[ns]
createdDate           datetime64[ns, UTC]
numCategories                       int64
numLevels                           int64
userID                           category
signupDate            datetime64[ns, UTC]
location                         category
numRuns                           float64
dtype: object

In [ ]:
# Preprocessing

def replaceNaNsWithMostFrequent(value):
    return value.fillna(value.mode()[0])

def replaceNaNsWithMean(value):
    return value.fillna(value.mean())

def mapValuesToIntegers(value):
    return value.cat.codes

def convertToUNIXTimestamp(date):
    return (date.fillna("1970-01-01").astype('int64') // (10**9)).replace(0, np.NaN)

data_frame[['date', 
            'verifiedDate', 
            'releaseDate', 
            'createdDate', 
            'signupDate']] = data_frame[['date', 
                                         'verifiedDate', 
                                         'releaseDate', 
                                         'createdDate', 
                                         'signupDate']].apply(convertToUNIXTimestamp)
data_frame[['date', 
            'verifiedDate', 
            'releaseDate', 
            'createdDate', 
            'signupDate',
            'numRuns']] = data_frame[['date', 
                                         'verifiedDate', 
                                         'releaseDate', 
                                         'createdDate', 
                                         'signupDate',
                                         'numRuns']].apply(replaceNaNsWithMean)

for col in data_frame.columns[data_frame.dtypes == 'category']:
    data_frame[[col]] = data_frame[[col]].apply(replaceNaNsWithMostFrequent)
    data_frame[[col]] = data_frame[[col]].apply(mapValuesToIntegers)

display(data_frame)
print(data_frame.dtypes)

,gameID,categoryID,levelID,date,primaryTime,place,platform,emulated,players,examiner,verifiedDate,variablesAndValues,releaseDate,createdDate,numCategories,numLevels,userID,signupDate,location,numRuns
0,14029,19044,39981,1.671494e+09,108.000,1,161,True,63043,115,1.671615e+09,60152,57801600,1.665504e+09,3,0,55022,1.636404e+09,239,36.00000
1,14029,19044,39981,1.665187e+09,114.067,2,161,True,627,115,1.665515e+09,60152,57801600,1.665504e+09,3,0,531,1.528210e+09,239,204.00000
2,19634,70739,39981,1.687046e+09,434.000,1,44,True,355549,15230,1.688832e+09,109764,157766400,1.684954e+09,1,0,310120,1.684622e+09,239,22.00000
3,19634,70739,39981,1.684886e+09,610.000,2,44,True,188070,15230,1.684956e+09,109764,157766400,1.684954e+09,1,0,163986,1.684299e+09,239,1.00000
4,9396,67128,39981,1.660867e+09,25.000,1,151,False,145331,11481,1.661239e+09,64045,189302400,1.661224e+09,1,0,126954,1.619494e+09,122,109.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1847575,1646,83966,39981,1.674346e+09,1661.626,21,44,False,50011,12022,1.675262e+09,131200,1699315200,1.624740e+09,2,0,318759,1.569096e+09,239,510.22873
1847576,1646,83966,39981,1.634774e+09,1793.943,22,44,False,186021,12022,1.644422e+09,131211,1699315200,1.624740e+09,2,0,318759,1.569096e+09,239,510.22873
1847577,1646,83966,39981,1.624493e+09,1913.647,23,44,False,91960,12022,1.644497e+09,131210,1699315200,1.624740e+09,2,0,318759,1.569096e+09,239,510.22873
1847578,1646,83966,39981,1.674259e+09,2126.666,24,44,False,218549,12022,1.675262e+09,131218,1699315200,1.624740e+09,2,0,318759,1.569096e+09,239,510.22873
1847579,1646,83966,39981,1.665446e+09,2669.045,25,44,False,89109,12022,1.666128e+09,131180,1699315200,1.624740e+09,2,0,318759,1.569096e+09,239,510.22873

gameID                  int32
categoryID              int32
levelID                 int32
date                  float64
primaryTime           float64
place                   int64
platform                int16
emulated                 bool
players                 int32
examiner                int32
verifiedDate          float64
variablesAndValues      int32
releaseDate             int64
createdDate           float64
numCategories           int64
numLevels               int64
userID                  int32
signupDate            float64
location                int16
numRuns               float64
dtype: object

In [ ]:
# Min-Max Normalization

for col in data_frame.columns[data_frame.dtypes != 'bool']:
    minimum = data_frame[col].min()
    data_frame[col] = (data_frame[col] - minimum) / (data_frame[col].max() - minimum)

display(data_frame)
print(data_frame.isnull().sum())

,gameID,categoryID,levelID,date,primaryTime,place,platform,emulated,players,examiner,verifiedDate,variablesAndValues,releaseDate,createdDate,numCategories,numLevels,userID,signupDate,location,numRuns
0,0.385995,0.171857,0.264037,0.992612,0.000030,0.000102,0.884615,True,0.154818,0.003430,0.895609,0.406971,0.000000,0.881013,0.010811,0.0,0.155032,0.797511,0.929961,0.003600
1,0.385995,0.171857,0.264037,0.990973,0.000032,0.000204,0.884615,True,0.001540,0.003430,0.873229,0.406971,0.000000,0.881013,0.010811,0.0,0.001496,0.452109,0.929961,0.020400
2,0.540212,0.638364,0.264037,0.996654,0.000121,0.000102,0.241758,True,0.873139,0.454288,0.958770,0.742632,0.060898,0.950076,0.000000,0.0,0.873804,0.951444,0.929961,0.002200
3,0.540212,0.638364,0.264037,0.996093,0.000169,0.000204,0.241758,True,0.461852,0.454288,0.944552,0.742632,0.060898,0.950076,0.000000,0.0,0.462052,0.950414,0.929961,0.000100
4,0.258522,0.605777,0.264037,0.989850,0.000007,0.000102,0.829670,False,0.356896,0.342461,0.857541,0.433310,0.080109,0.865819,0.000000,0.0,0.357710,0.743528,0.474708,0.010900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1847575,0.045288,0.757727,0.264037,0.993353,0.000462,0.002143,0.241758,False,0.122814,0.358598,0.908988,0.887662,1.000000,0.736273,0.005405,0.0,0.898145,0.582634,0.929961,0.051023
1847576,0.045288,0.757727,0.264037,0.983068,0.000498,0.002245,0.241758,False,0.456821,0.358598,0.795847,0.887736,1.000000,0.736273,0.005405,0.0,0.898145,0.582634,0.929961,0.051023
1847577,0.045288,0.757727,0.264037,0.980396,0.000532,0.002347,0.241758,False,0.225831,0.358598,0.796122,0.887730,1.000000,0.736273,0.005405,0.0,0.898145,0.582634,0.929961,0.051023
1847578,0.045288,0.757727,0.264037,0.993330,0.000591,0.002449,0.241758,False,0.536701,0.358598,0.908988,0.887784,1.000000,0.736273,0.005405,0.0,0.898145,0.582634,0.929961,0.051023
1847579,0.045288,0.757727,0.264037,0.991040,0.000741,0.002551,0.241758,False,0.218829,0.358598,0.875479,0.887527,1.000000,0.736273,0.005405,0.0,0.898145,0.582634,0.929961,0.051023

gameID                0
categoryID            0
levelID               0
date                  0
primaryTime           0
place                 0
platform              0
emulated              0
players               0
examiner              0
verifiedDate          0
variablesAndValues    0
releaseDate           0
createdDate           0
numCategories         0
numLevels             0
userID                0
signupDate            0
location              0
numRuns               0
dtype: int64